	
}
h3{
	font-family: 'Rokkitt', serif;
	color:#154360;
	font-size: 30px;
	text-transform: capitalize;
}
h4{
	font-family: 'Rokkitt', serif;
	color:#E74C3C;
	font-size: 19px;
	text-transform: capitalize;
}
 .navbar {
      margin-bottom: 0;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 3px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
      margin-top: 20px;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #E74C3C !important;
      margin-right: 22px;
      font-size: 13px !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #154360 !important;
      background-color: #fff !important;
  }
  .reg-nav{
  	  margin-top: 20px;
  	
  }
  .header-nav{
  	 margin-top: 20px;
  	 
  }
  .btn-toggle{
		display:none;
  }
   @media screen and (max-width: 767px) {
	.btn-toggle{
		display:block;
	  	border: 1px solid #154360;
	  	height:35px;
	  	width: 40px;
	  	background-color: #fff;
	  	margin-top:10px;
	  	margin-right:20px;
	  	float:right;
	  	
  }
  @media screen and (max-width: 1440px) and (min-width: 768px){
  	.navbar li a, .navbar .navbar-brand {
      color: #000 !important;
      margin-right: 22px;
  }
  }
  .btn-toggle:hover{
	  	background-color: #fff;
  }


  }
.header h2{
	font-family: 'Berkshire Swash', cursive;
	color:#154360;
	font-size: 30px;
	margin-top:-9px;
}
.tiles-header h2{
	font-family: 'Berkshire Swash', cursive;
	color:#154360;
	font-size: 30px;
	margin-top:-9px;
}
.left h2{
	font-family: 'Berkshire Swash', cursive;
	color:#154360;
	font-size: 60px;
}
.login-arena{
	padding-top:60px;
}
.login-block{
	margin-top: 40px;
}
.login-block h3{
	font-family: 'Rokkitt', serif;
	color:#E74C3C;
	font-size: 30px;
}
.feilds{
	margin-top: 50px;
}
.feilds .texters{
	height:45px;
	border: 1px solid #154360;
	font-family: 'Rokkitt', serif;
	letter-spacing: 2px;
	font-size: 20px;
	color:#154360;
}
.feilds .reg-texters{
	height:40px;
	border: 1px solid #154360;
	font-family: 'Rokkitt', serif;
	font-size: 18px;
	color:#154360;
}
.feilds .btn-base-design{
	height:45px;
	width:300px;
	background-color: #154360;
	color:#fff;
	font-size:20px;
	font-family: 'Rokkitt', serif;
	letter-spacing: 4px;
}
.feilds .btn-base-design:hover{
	background-color: #E74C3C;
}
.right{
	height:636px;
	background-image: url("../images/entry_background_3.jpg");
	background-size:100% 130%;
}

.trasnparency{
	height:636px;
	background : rgba(0,0,0,0.56);
}
.entry-arena h3{
	padding-top:40px;
	font-family: 'Berkshire Swash', cursive;
	color:#fff;
	font-size: 40px;
}
.reg-entry-block{
	margin-top: 40px;
}
.reg-entry-block h3{
	font-family: 'Rokkitt', serif;
	color:#fff;
	font-size: 40px;
}
.feilds .btn-entry-design{
	height:55px;
	width:300px;
	border: 2px solid #E74C3C;
	background:transparent;
	color:#fff;
	font-size:25px;
	font-family: 'Rokkitt', serif;
	letter-spacing: 4px;
}
.feilds .btn-entry-design:hover{
	background-color: #E74C3C;
}
.quesnr-color{
	color:#E74C3C;
}
.entry-arena h4{
	margin-top: 40px;
	color:#fff;
	font-family: 'Rokkitt', serif;
	letter-spacing: 4px;
	font-size:18px;
}
.entry-arena h4 a{
	margin-top: 40px;
	color:#E74C3C;
	font-family: 'Rokkitt', serif;
	letter-spacing: 4px;	
}
.copyrights{
	padding-top: 100px;
	color:#E74C3C;
	font-family: 'Rokkitt', serif;
	letter-spacing: 4px;
	font-size:18px;
}
.copyrights a{
	color:#fff;
}
.forgot-password a{
	color:#E74C3C;
}
.redirect-btn{
	width:200px;
	height:50px;
	border: 2px solid #E74C3C;
	background-color: #E74C3C;
	color:#fff;
	font-size:20px;
	font-family: 'Rokkitt', serif;
}
.redirect-btn:hover{
	background:transparent;
	color:#E74C3C;
}
.reg-arena{
	padding-top:60px;
}
.reg-arena h3 a{
	color:#fff;
}
.reg-arena h4{
	margin-top: 40px;
	color:#fff;
	font-family: 'Rokkitt', serif;
	letter-spacing: 4px;
	font-size:18px;
}
.reg-arena h4 a{
	margin-top: 40px;
	color:#E74C3C;
	font-family: 'Rokkitt', serif;
	letter-spacing: 4px;	
}
.error{
	background-color:#F5B7B1;
	color:#000;
	font-family: 'Rokkitt', serif;
	letter-spacing: 1px;
	font-size:19px;
	border:1px solid #E74C3C;
}
.close{
	float:right;
}
.content-row{
	padding-top: 3%;
}
.content-block{
	width:85%;
	padding-left:8%;
}
.top-content-block{
	background-color: #154360 ;
	padding-bottom:15px;
}
.top-content-block h3,h4{
		color:#fff;
}
.middle-content-block{
	background-color: #fff ;
	height:460px;
}
.after-login{
	height:300px;
}
 @media screen and (max-width: 800px) {
 	.middle-content-block{
	height:740px;
	border:1px solid #154360;
	}
	.reg-transparency{
	height:850px;
	}
	.after-login{
	height:430px;
	}

	.feilds .btn-base-design{
		width:347;
	}
 }
.empty-row{
	height:650px;
	background-image: url("../images/register_background.jpg");
	background-size:cover;
}
.reg-transparency{
	height:650px;
	background: rgba(0,0,0,0.4);
}
.head-section{	
	background-color: #F2F3F4 ;
}
/* registration custom button 
   holding the registration button
*/
.actions{
	border-top: 1px solid  #154360 ;
	margin-top:2%;
}
.button-block{
	width:50%;
	height:0px;
	padding-top:4%;
	background-color: #fff;
	float:right;
}
.feilds .reg-btn{
	width:118px;
	height: 43px;
	font-size:16px;
	letter-spacing: 2px;
}
/* reset button */
.feilds .reset-btn{
	width:118px;
	height: 43px;
	font-size:16px;
	background-color: #E74C3C;
	letter-spacing: 2px;
}
.feilds .reset-btn:hover{
	background-color: #154360;
}
.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	color:#E74C3C;
	padding-bottom:7px;
	margin-top:10px;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
    background-color: #eee;
    border : 1px solid #154360;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #154360;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
	top:2px;
	left:8px;
    width: 8px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.terms{
	float:left;
	margin-left:3%;
}
.message{
	color:#E74C3C;
	font-size: 18px;
	margin-bottom: 15px;
	margin-top: -28px;
}
.logout-button{
	height:40px;
	width:100px;
	background-color: #E74C3C;
	color:#fff;
	font-size:16px;
	font-family: 'Rokkitt', serif;
}
.logout-button:hover{
	background-color: #154360;
	color:#fff;
}
