@CHARSET "ISO-8859-1";

h2{
	color: #154360;
	font-size:25px;
    font-family: 'Berkshire Swash', cursive;
}
.history font{
    font-size: 16px;
    font-family: 'Merriweather', serif;
    color: #154360;
    padding-top: 6%;
}
 .navbar {
      margin-bottom: 0;
      background-color: #154360;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar .navbar-brand {
   font-size:28px;
   font-family: 'Berkshire Swash', cursive;
   margin-top: 12px;
  }
  .navbar-right li button, .navbar-right li a{
  	margin-top:10px;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #E74C3C !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
.dropbtn {
    background-color: #154360;
    color: #fff;
    padding: 16px;
    font-size: 19px;
    border: none;
    font-family:'Rokkitt', serif;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown img{
	 border-radius: 50%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #154360;
    min-width: 170px;
    border:1px solid #154360;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'Rokkitt', serif;
    font-size: 16px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color:#154360; }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #E74C3C;
}
.level-two{
	height:50px;
	background-color: #EAEDED;
	border-top:1px solid #154360;
}
.level-two-links{		
	margin-top:13px;
	font-family: 'Rokkitt', serif;
	letter-spacing: 1px;
}
.level-two-links a{
	color:#154360;
	font-size: 19px;
	font-weight: bold;
	
}
.level-two-links a:hover{
	text-decoration: none;
	color:#E74C3C;
}
.pic-holder{
	padding-top:130px;
	position: relative;
	padding-left:30px;
}
.profileImage{
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.base1{
	margin-top:20px;
	margin-right:35px;
	font-size:16px;
	color:#154360;
	font-family: 'Rokkitt', serif;
	letter-spacing: 1px;
}

.front-line-details-holder .name font{
	font-size:30px;
	color:#154360;
	font-family: 'Rokkitt', serif;
	letter-spacing: 1px;
	font-weight: bold;
	margin-right:10px; 	
	text-transform: capitalize;
}
.front-line-details-holder .email font{
	font-size:16px;
	color:#154360;
	font-family: 'Rokkitt', serif;
	letter-spacing: 1px;
	text-transform: lowercase;
}
.front-line-details-holder .phone font{
	font-size:16px;
	color:#154360;
	font-family: 'Rokkitt', serif;
	letter-spacing: 1px;
}
.front-line-details-holder .address font{
	text-transform: capitalize;
}
.role font{
	font-size:23px;
	color:#154360;
	font-family: 'Rokkitt', serif;
	letter-spacing: 1px;
	margin-right:20px;
}
.profile-btn{
	height:40px;
	width:140px;
	background-color: transparent;
	color:#E74C3C;
	font-size:15px;
	font-family: 'Rokkitt', serif;
	font-weight:bold;
	letter-spacing: 1px;
	position : relative;
	border:1px solid #154360;
	margin-top:130px;
	margin-right:15px;
}
.profile-btn:hover{
	background-color: #E74C3C;
	color:#fff;
}
.btn-pic{
	height:35px;
	width:80px;
	background-color: #154360;
	color:#fff;
	font-size:15px;
	font-family: 'Rokkitt', serif;
	letter-spacing: 1px;	
}
.btn-pic:hover{
	background-color: #E74C3C;
	color:#fff;
}


.modal-dialog{
	padding-top:150px;
	width:450px;
}
.modal-header{
	background-color: #154360;
	color:#fff;
}

.pic-transparency{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.pic-transparency:hover{
	background-color: rgba(0,0,0,0);
}
.pic-holder:hover .profileImage {
 background-color: rgba(0,0,0,0.4);
}

.pic-holder:hover .pic-transparency {
  opacity: 1
}

.right-side{
	margin-top:9%;
	height:500px;
	width:74%;	
	background-color:#fff;
	-webkit-box-shadow: -3px 0 5px -2px #888;
    box-shadow: -7px 6px 5px -2px  #888;
}
.details{
	padding-top:1%;
	
}
.nav-pills{
	border-bottom:1px solid #154360; 	
	
}
.pills{
	background-color: #F8F9F9;
	color:#fff;
	height:20%;
	width:24%;
}
.nav-pills li{
	height:55px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #154360;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 16px 50px;
    height: 55px;
    font-size:15px;
	font-family: 'Merriweather', serif;
	letter-spacing: 1px;	
	color:#154360;
}
.tab-content{
	margin-top:2%;
}
.prof-label{
	font-size:16px;
	font-family: 'Merriweather', serif;
	color:#154360;
	padding-top:6%;
}
.prof-text{
	height:43px;
	width:500px;
	padding-left:1%;
	border: 1px solid #154360;
	font-family: 'Rokkitt', serif;
	letter-spacing: 1px;
	font-size: 18px;
	color:#154360;
	border-radius:10px;
}



.prof-text:focus{
	border-radius:10px;
}
.set-text{
	height:43px;
	width:100px;
	padding-left:1%;
	font-family: 'Rokkitt', serif;
	letter-spacing: 1px;
	font-size: 18px;
	color:#154360;
	border-radius:10px;
}
.set-text:focus{
	border-radius:10px;
}
.fieldsholder{
	margin-bottom:2%;
}
.btn-sm-edit{
	height:35px;
	width:80px;
	background-color: #154360;
	color:#fff;
	font-size:15px;
	font-family: 'Rokkitt', serif;
	letter-spacing: 1px;	
	
}
.btn-sm-edit:hover{
	background-color: #E74C3C;
	color:#fff;
}
.btn-lg-edit{
	height:40px;
	width:90px;
	background-color: #154360;
	color:#fff;
	font-size:17px;
	font-family: 'Rokkitt', serif;
	letter-spacing: 1px;	
	margin-top:18%;
}
.btn-lg-edit:hover{
	background-color: #E74C3C;
	color:#fff;
}
.glyphicon:hover{
	color:#E74C3C;
}
.mesgBlock{
	color:#000;
	font-family: 'Rokkitt', serif;
	letter-spacing: 1px;
	font-size:17px;
	border:1px solid #154360;
}